@fl-button-background-color: @primary-color5;
@button-color-active: @primary-color3;
@button-color-hover: @primary-color4;

/* Button */
.fl-button {
  position: relative;
  height: 42px;
  display: inline-block;
  transition: all 0.5s ease;
}

.fl-button:hover {
  cursor: pointer;
}

.fl-button.disabled {
  opacity: 0.35;
}

.fl-button.disabled:hover {
  cursor: default;
}

.fl-button {
  background-color: @fl-button-background-color;
  color: white;
  border-radius: 8px;
  margin-top: 2px;
  margin-right: 2px;
  min-width: 80px;
}

.fl-button:hover {
  background-color: @button-color-hover;
}

.fl-button.disabled:hover {
  background-color: @fl-button-background-color;
}

.fl-button:active {
  background-color: @button-color-active;
}

.fl-button.disabled:active {
  background-color: @fl-button-background-color;
}

.fl-button i {
  line-height: 46px;
  float: left;
  margin-left: 8px;
}

.fl-button-label {
  line-height: 42px;
  float: right;
  margin-left: 8px;
  margin-right: 8px;
  min-width: 64px;
  text-align: center;
}