@details-color: @primary-color2;

/* TODO: Support mobile resolution */
.event-details {
  background-color: white;
  border-radius: 8px;
  margin-left: 150px;
  margin-top: 50px;
  padding: 16px;
  width: 600px;
  color: @details-color;

  label {
    display: inline-block;
    margin-right: 16px;
    min-width: 80px;
    width: 20%;
  }

  .field {
    margin-top: 16px;
    input {
    }
  }
}