@details-color: @primary-color2;
@field-border-color: @primary-color2;

/* TODO: Support mobile resolution */
.event-details {
  background-color: white;
  border-radius: 8px;
  margin-left: 150px;
  margin-top: 50px;
  padding: 16px;
  padding-left: 32px;
  width: 600px;
  position: relative;
  color: @details-color;

  header {
    margin-bottom: 48px;
    padding-left: 32px;
    border-bottom: none;

    .event-details-description {
      font-size: 15px;
      font-style: italic;
      margin-left: 40px;
    }
  }

  label {
    display: inline-block;
    margin-right: 16px;
    min-width: 80px;
    height: 28px;
    vertical-align: top;
    width: 20%;

    &.field-value {
      max-width: 70%;
      width: auto;
    }
  }

  .field {
    margin-top: 16px;
    input,
    textarea,
    .field-error-message {
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-size: 14px;
      width: 60%;
      max-width: 60%;
      min-width: 60%;
      max-height: 120px;
      overflow-y: auto;
      border-radius: 4px;
      border: 1px solid @field-border-color;

      &.error {
        border: 1px solid @error-color;
      }
    }
    .field-error-message {
      border: none;
      margin-left: 20%;
      padding-left: 16px;
      color: @error-color;
    }
  }

  .unsaved-changes {
    position: absolute;
    opacity: 0;
    top: 4px;
    right: 4px;
    font-size: 1.5em;
    transition: all 0.5s ease;

    &.has-changes {
      opacity: 1;
    }
  }

  footer {
    margin-top: 16px;
    height: 42px;

    .fl-button {
      float: right;
      margin-right: 8px;

      &:first-child {
        margin-right: 0;
      }
    }
  }
}