@header-border-bottom-color: @primary-color1;
@header-color: @primary-color2;
@header-color-hover: @primary-color4;

header {
  border-bottom: 4px solid @header-border-bottom-color;
  height: 46px;
  padding-left: 150px;
  padding-right: 150px;
}

.header-button-container {
  float: right;
}

.header-tab {
  position: relative;
  height: 42px;
  display: inline-block;
}

.header-tab {
  color: @header-color;
  border-bottom: 4px solid white;
}

.header-tab:hover {
  cursor: pointer;
}

.header-tab.disabled {
  opacity: 0.35;
}

.header-tab.disabled:hover {
  cursor: default;
}

.header-tab:hover {
  color: @header-color-hover;
  border-bottom: 4px solid @header-color-hover;
}

.header-tab.active {
  border-bottom: 4px solid @header-color-hover;
}

.header-tab.disabled:hover {
  color: @header-color;
  border-bottom: 4px solid white;
}

.header-tab i {
  line-height: 46px;
  float: left;
  margin-right: 4px;
  margin-left: 16px;
}

.header-tab-label {
  line-height: 46px;
  float: right;
  margin-right: 16px;
  margin-left: 4px;
}

@media (max-width: 600px) {
  header {
    padding-left: 0px;
  }
}